* text=auto

*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
*.txt text eol=lf
*.json text eol=lf

*.pptx binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.joblib binary

